﻿<%@ Page Language="C#" AutoEventWireup="True" CodeBehind="Login.aspx.cs" Inherits="SimilarityForm1.Login" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
     <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Similarity form | Login</title>

 
    <link href="css/animate.css" rel="stylesheet" type="text/css" />
    <link href="css/bootstrap.min%20(1).css" rel="stylesheet" type="text/css" />
    <link href="css/font-awesome.css" rel="stylesheet" type="text/css" />
    <link href="css/style.css" rel="stylesheet" type="text/css" />
</head>
  <body class="gray-bg">

    <div class="middle-box text-center loginscreen animated fadeInDown">
        <div>
            <div>

                <h1 class="logo-name">Login</h1>

            </div>

            
            <h3>&nbsp;</h3>
            <h3>Welcome User</h3>

            <!-- <h3>Welcome specialUser</h3> -->

            <form id="form1" runat="server">
            <p>Username 
                <asp:TextBox ID="Txtname" runat="server" Width="208px"></asp:TextBox>
                </p>
                <div class="form-group">
                    &nbsp;Password 
                    <asp:TextBox ID="Txtpass" runat="server" Width="206px"></asp:TextBox>
                </div>
                <div class="form-group">
                    &nbsp;<asp:Button ID="Button3" 
                        OnClick="Button1_Click" runat="server" 
                        Height="34px" Text="login" Width="278px" BackColor="#4CAF50" 
                        ForeColor="White" />
                    <br />
            </div>
            <%--  <button type="submit" class="btn btn-primary block full-width m-b">Log<asp:Button ID="Button1" runat="server" OnClick="Button1_Click" Text="Button" Width="255px" />
                    in</button>--%>
              <%--  <a class="btn btn-sm btn-white btn-block" href="reg.aspx"><small>
                <asp:Button ID="Button1" runat="server" BackColor="#006600" Height="41px" Text="Login" Width="296px" ForeColor="White" OnClick="Button1_Click1" />
                </small></a><p class="text-muted text-center">&nbsp;</p>--%>                <%--<a class="btn btn-sm btn-white btn-block" href="reg.aspx">Create an account</a>--%>                <%-- <button type="account" class="btn btn-primary block full-width m-b">Create an account</button>
                
            </form>
            <form method="get" action="reg.aspx">
                <button type="account></button>--%>           <%-- <p class="m-t"> <small>Inspinia we app framework base on Bootstrap 3 &copy; 2014tstrap 3 &copy; 2014</small>--%>&nbsp;<asp:Button 
                ID="Button2" runat="server" BackColor="White" ForeColor="#990000" 
                    Text="Create an account" Width="277px" Height="26px" 
                OnClick="Button2_Click" />
                </p>
            </form>
        </div>
    </div>
      <script src="js/bootstrap.js" type="text/javascript"></script> 
      <script src="js/jquery-3.1.1.min.js" type="text/javascript"></script>
      <script src="js/popper.min.js" type="text/javascript"></script>
</body>
</body>
</html>
